
.state{
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.btn-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.dispatchBtn{
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    height: fit-content;
    color: black;
    background: goldenrod;
    border: 2px solid black;
    padding: 5px;
    transition: 0.1s ease-in-out;
}
.dispatchBtn:hover{
    color: goldenrod;
    background: black; 
    border-color: goldenrod;
}